<a href="https://colab.research.google.com/github/PhinyadaPhen/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน text box จะเป็นภาษา markdown

In [8]:
import pandas # บรรทัดนี้จะเรียกใช้แพ็คเกจ pandas โดย import ตามด้วยชื่อ package

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆ มากมาย 

ซึ่ง pandas เป็น package สำหรับทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [9]:
import pandas as pd # เหมือนกับข้างบน แต่ว่าตั้งชื่อให้ package ที๋โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [10]:
data_df = pd.read_csv('data.csv')

In [11]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [12]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python 
### variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   พยายามใช้ภาษาอังกฤษ 
3.   ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive) 
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [13]:
variable_a = 12 # กล่องสำหรับเก็บข้อมูลของเรา
variable_b = 'abcd' # ' ตัวนี้เรียกว่า quote (โค้ท)
variable_c = variable_a

In [15]:
# ชื่อห้ามมีเว้นวรรค
variable a

SyntaxError: ignored

In [16]:
# พยายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยได้ แต่ไม่ควรใช้ 
ตัวอย่าง = 3
ตัวอย่าง

3

In [17]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [18]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1
print(variable1)

1

In [19]:
variable_a = 12 # กล่องสำหรับเก็บข้อมูลของเรา
variable_b = 'abcd' # ' ตัวนี้เรียกว่า quote (โค้ท)
variable_c = variable_a  
variable_d = -41.2
variable_4 = "KKU" # เรียกว่า double quote

In [20]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [21]:
print(variable_b + variable_4)

abcdKKU

# Casting 
###int() float() str()

In [22]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [23]:
V_X  = str(variable_x)
print(V_X)

-29.200000000000003

In [24]:
V_X + variable_a

TypeError: ignored

In [66]:
variable_a + v_X

NameError: ignored

In [25]:
V_X

'-29.200000000000003'

In [26]:
float(V_X)

-29.200000000000003

# Data Structure
### list()

In [27]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [28]:
list_a # list คือการเอามาเรียงต่อกันเป็นทอด ๆ

[1, 2, 0.2, 'abs']

In [29]:
list_b # เวลานับจะเริ่มนับจาก 0

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [30]:
len(list_b) # len คือ จำนวน

4

In [31]:
list_b[3] # แปลว่าเลือก ตัวที่ 3 ของ list_b

[1, 2, 0.0]

In [32]:
list_b[3][1] # แปลว่าเลือกตัวที่ 3 ของ list_b และเลือกตัวที่ 1 ในลำดับในตัวที่ 3 อีกที

2

### string คือ list ของ ตัวหนังสือ

In [33]:
a = 'Stat KKU'

In [34]:
a[4] # คำตอบที่ได้คือ เว้นวรรค เพราะ เว้นวรรค คือลำดับที่ 4 ของ a

' '

## วิธีสร้าง list ว่าง

In [35]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [36]:
list_c

[]

In [37]:
list_d

[]

เติมค่าลงไปใน  list (.append())

In [38]:
list_d.append('a')
list_d

['a']

การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0 
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [39]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [40]:
list_b[-1] # ถ้าจะเริ่มชี้จากหลังสุดจะเริ่มที่ลำดับ -1

[1, 2, 0.0]

### list slicing

In [41]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [42]:
list_ex[1:6] # เราจะตัด list โดยเอาตั้งแต่ [ ตัวหน้า : ตัวก่อนตัวหลัง ]

[2, 3, 5, 6, 8]

In [43]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [44]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [45]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [46]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [47]:
a

'Stat KKU'

In [48]:
a[-3:]

'KKU'

In [49]:
a[5:8:]

'KKU'

In [50]:
a[5::]

'KKU'

In [51]:
a[-3::]

'KKU'

In [52]:
a[-3::1]

'KKU'

### list+list

In [53]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [54]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

``` python
f'string{ตัวแปร}'
```
{} เรียกว่า curly brackets

In [55]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

# Loop

**Loop** คือ เขียนให้โปรแกรมทำงานซ้ำๆ หลายๆรอบ หรือทำงานคล้ายๆ กัน

indent แปลว่า เว้น
``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
  do something # in_loop
  do another thing # in_loop

do other thing # out side  loop

In [67]:
for i in [1,2,3,4,5]: # ตัวอย่าง
  print(i+1)

2
3
4
5
6

In [57]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [58]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [61]:
for i in range(2,7,2):
  print(i)

2
4
6

In [62]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [63]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

In [65]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

# Condition
### เงื่อนไข (if statement)

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
  ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [76]:
stringx = 'ICOULDSAYINEVERDARETOTHINKABOUTYOUINTHATWAY'

if len(stringx) > 30:
  print(f'{stringx}  is longer than 30 characters')

ICOULDSAYINEVERDARETOTHINKABOUTYOUINTHATWAY  is longer than 30 characters

In [77]:
stringx = 'ICOULDSAYINEVERDARETOTHINKABOUTYOUINTHATWAY'

if len(stringx) > 100:
  print(f'{stringx}  is longer than 30 characters')

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
  ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
  ทำงานที่ X 
```

In [81]:
stringx = 'ICOULDSAYINEVERDARETOTHINKABOUTYOUINTHATWAY'

if len(stringx) > 100:
  print(f'{stringx}  is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long')

ICOULDSAYINEVERDARETOTHINKABOUTYOUINTHATWAY in 43 characters long

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
  ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
  ถ้าเงื่อนไขเป็นจริง ทำงาน a1 
  ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
  ถ้าเงื่อนไขเป็นจริง ทำงาน b1 
  ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
  ทำงานที่ X 
```

In [86]:
password  = '414891120'

input_pass = '414'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password):
  print('Too long, try again!')
elif len(input_pass) < len(password):
  print('Too short, try again!')
else:
  print('Wrong password, try again!')

Too short, try again!

QUIZ 1 หา min

In [93]:
list_ex = [1,5,9,-19,-2,0] # หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 : QUIZ 1)

In [94]:
list_ex[3:4:2]

[-19]

QUIZ 2 ตัดเกรด

# Function