<a href="https://colab.research.google.com/github/PhinyadaPhen/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน text box จะเป็นภาษา markdown

In [ ]:
import pandas # บรรทัดนี้จะเรียกใช้แพ็คเกจ pandas โดย import ตามด้วยชื่อ package

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆ มากมาย 

ซึ่ง pandas เป็น package สำหรับทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas as pd # เหมือนกับข้างบน แต่ว่าตั้งชื่อให้ package ที๋โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python 
### variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   พยายามใช้ภาษาอังกฤษ 
3.   ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive) 
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12 # กล่องสำหรับเก็บข้อมูลของเรา
variable_b = 'abcd' # ' ตัวนี้เรียกว่า quote (โค้ท)
variable_c = variable_a

In [ ]:
# ชื่อห้ามมีเว้นวรรค
variable a

SyntaxError: ignored

In [ ]:
# พยายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยได้ แต่ไม่ควรใช้ 
ตัวอย่าง = 3
ตัวอย่าง

3

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1
print(variable1)

1

In [ ]:
variable_a = 12 # กล่องสำหรับเก็บข้อมูลของเรา
variable_b = 'abcd' # ' ตัวนี้เรียกว่า quote (โค้ท)
variable_c = variable_a  
variable_d = -41.2
variable_4 = "KKU" # เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
print(variable_b + variable_4)

abcdKKU

# Casting 
###int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X  = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a

TypeError: ignored

In [ ]:
variable_a + v_X

NameError: ignored

In [ ]:
V_X

'-29.200000000000003'

In [ ]:
float(V_X)

-29.200000000000003

# Data Structure
### list()

In [ ]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a # list คือการเอามาเรียงต่อกันเป็นทอด ๆ

[1, 2, 0.2, 'abs']

In [ ]:
list_b # เวลานับจะเริ่มนับจาก 0

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b) # len คือ จำนวน

4

In [ ]:
list_b[3] # แปลว่าเลือก ตัวที่ 3 ของ list_b

[1, 2, 0.0]

In [ ]:
list_b[3][1] # แปลว่าเลือกตัวที่ 3 ของ list_b และเลือกตัวที่ 1 ในลำดับในตัวที่ 3 อีกที

2

### string คือ list ของ ตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4] # คำตอบที่ได้คือ เว้นวรรค เพราะ เว้นวรรค คือลำดับที่ 4 ของ a

' '

## วิธีสร้าง list ว่าง

In [ ]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน  list (.append())

In [ ]:
list_d.append('a')
list_d

['สวัสดี', 56, 'a', 'a', 'a']

การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0 
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1] # ถ้าจะเริ่มชี้จากหลังสุดจะเริ่มที่ลำดับ -1

[1, 2, 0.0]

### list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex[1:6] # เราจะตัด list โดยเอาตั้งแต่ [ ตัวหน้า : ตัวก่อนตัวหลัง ]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8:]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

In [ ]:
a[-3::1]

'KKU'

### list+list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

``` python
f'string{ตัวแปร}'
```
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

# Loop

``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
  do something

In [ ]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
  print(i)

2
4
6

In [ ]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

In [ ]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

# Condition
# Function