<a href="https://colab.research.google.com/github/PhinyadaPhen/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [ ]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AX4XfWiIdews2BrQI8gdTeJskPyTnxFi9t8-t4bl9vptiRu7YIe0BiJSSyk
Mounted at /content/drive

In [3]:
import os

In [8]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [9]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [10]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [13]:
gen_exams('623021052-2')

รหัสนักศึกษา 623021052-2 ทำข้อ 2 และ 3

## **ข้อสอบที่ต้องทำ**

In [16]:
Merge_flights_airports = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน') # รวมตารางโดยใช้ Attribute คือ รหัสสนามบินต้นทาง กับ รหัสสนามบิน
Merge_flights_airports

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

In [18]:
Merge_flights_airports.dropna() # ดูค่า missing

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

### ข้อ 2 วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์

In [50]:
import pandas as pd
import matplotlib.pyplot as plt # import matplotlib เพื่อเรียกใช้งานฟังก์ชั่นสำหรับพล็อตฮิสโทแกรม

### ข้อ 3 สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด

In [23]:
Merge_flights_airports.groupby('สายการบิน').count() # นับจํานวนรายการในคอลัมน์

           วันในเดือน  วันในสัปดาห์  ...     รัฐ  ชื่อสนามบิน
สายการบิน                            ...
9E              80031         80031  ...   80031        80031
AA             289855        289855  ...  289855       289855
AS              68555         68555  ...   68555        68555
B6             121906        121906  ...  121906       121906
DL             381657        381657  ...  381657       381657
EV             157928        157928  ...  157928       157928
F9              35738         35738  ...   35738        35738
FL              92702         92702  ...   92702        92702
HA              17432         17432  ...   17432        17432
MQ             113212        113212  ...  113212       113212
OO             160164        160164  ...  160164       160164
UA             286418        286418  ...  286418       286418
US             233321        233321  ...  233321       233321
VX              34739         34739  ...   34739        34739
WN             575739        575739  ...  575739       575739
YV              52821         52821  ...   52821        52821

[16 rows x 10 columns]

In [49]:
FlightsNew = Merge_flights_airports.groupby('สายการบิน').count().sort_values(by=['วันในเดือน'],ascending=False)
FlightsNew.iloc[:,0:1] # ตัดตารางเพื่อให้ดูข้อมูลง่ายขึ้น

           วันในเดือน
สายการบิน
WN             575739
DL             381657
AA             289855
UA             286418
US             233321
OO             160164
EV             157928
B6             121906
MQ             113212
FL              92702
9E              80031
AS              68555
YV              52821
F9              35738
VX              34739
HA              17432

In [35]:
MaxFlight = FlightsNew.iloc[:1,:1] # สายการบินที่มีเที่ยวบินมากที่สุด
MaxFlight

           วันในเดือน
สายการบิน
WN             575739

ดังนั้น สายการบินที่มีเที่ยวบินมากที่สุด คือ สายการบิน WN

In [32]:
MinFlight = FlightsNew.iloc[15:,:1] # สายการบินที่มีเที่ยวบินน้อยที่สุด
MinFlight

           วันในเดือน
สายการบิน
HA              17432

ดังนั้น สายการบินที่มีเที่ยวบินน้อยที่สุด คือ สาบการบิน HA

### โจทย์คิดเอง เมืองใดมีจำนวนเครื่องบินขาออกมากที่สุด

In [36]:
Merge_flights_airports.groupby('เมือง').count() # นับจำนวนรายการในคอลัมน์

                            วันในเดือน  วันในสัปดาห์  ...     รัฐ  ชื่อสนามบิน
เมือง                                                 ...
Albuquerque                      17542         17542  ...   17542        17542
Anchorage                         7700          7700  ...    7700         7700
Atlanta                         148563        148563  ...  148563       148563
Austin                           26982         26982  ...   26982        26982
Baltimore                        51761         51761  ...   51761        51761
...                                ...           ...  ...     ...          ...
St. Louis                        33061         33061  ...   33061        33061
Tampa                            35149         35149  ...   35149        35149
Tucson                           10990         10990  ...   10990        10990
Washington                       80536         80536  ...   80536        80536
West Palm Beach/Palm Beach       10091         10091  ...   10091        10091

[66 rows x 10 columns]

In [46]:
City = Merge_flights_airports.groupby('เมือง').count().sort_values(by=['ความล่าช้าขาออก'],ascending=False)
City.iloc[:,5:6] # ตัดตารางที่ไม่ใช้ออกเพื่อให้ดูขอมูลง่ายขึ้น

                            ความล่าช้าขาออก
เมือง
Chicago                              176939
Atlanta                              148563
New York                             118026
Los Angeles                          117714
Dallas/Fort Worth                    104270
...                                     ...
West Palm Beach/Palm Beach            10091
Norfolk                               10006
Providence                             9313
Long Beach                             8166
Anchorage                              7700

[66 rows x 1 columns]

In [47]:
MaxCity = City.iloc[:1,:1] # สายการบินที่มีเที่ยวบินมากที่สุด
MaxCity

         วันในเดือน
เมือง
Chicago      176939

สรุป เมืองที่มีสายการบินขาออกมากที่สุดคือ เมือง Chicago

**จบ**